body {
  background-color: black;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.container ul {
  display: flex;
  flex-direction: row;
}

.container li {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
  font-size: 25px;
  font-family: 'Cinzel';
  font-weight: 500;
  margin: 0 50px;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

.container img {
  display: flex;
  justify-content: center;

  min-height: 50px;
}

.container-hero {
  margin: 100 400 0 400px;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  flex-wrap: wrap;
  border-radius: 20px;
}

.hero-info {
  width: 50%;
  display: flex;
  text-align: center;
  flex-direction: column;
}

section img {
  height: 200px;
}

.info {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}

.container-cards {
  display: flex;
  justify-content: center;
}

.section-card {
  margin-top: 100px;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 20%;
  margin: 0 50px;
  height: 300px;
  background-color: rgba(255, 255, 170, 0.17);
  border-radius: 30px;
}

.cardimg1 {
  display: flex;
  height: 150px;
  width: 200px;
}

.cardimg2 {
  height: 150px;
  width: 200px;
}

.cardimg3 {
  height: 150px;
  width: 200px;
}

.card-p {
  width: 80%;
}

.container-footer {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: white;
}

.footer-d {
  display: flex;
  flex-direction: row;
}

.footer1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: courgette;
}

.footer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: courgette;
}

footer h3 {
  font-family: courgette;
}

.contacto {
  height: 25px;
}

.container-footer a {
  color: #000000;
}
