@font-face {
  font-family: 'Lato';
  src: url(./fonts/Lato/Lato-Bold.ttf);
}

body {
  margin: 0px;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(147, 67, 67, 1) 0%, rgba(111, 27, 27, 1) 90%);
}

.contenedor {
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.barra {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(111, 27, 27, 1) 35%, rgba(0, 212, 255, 0) 100%);
  margin: 0px;
  padding: 0px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconito {
  width: 100px;
  margin: 30px;
}

nav {
  z-index: 1;
  display: flex;
  text-align: right;
}

ul li {
  display: inline-block;
  margin-right: 80px;
  font-family: 'Lato';
}